In [1]:
from tabula import read_pdf
import pandas as pd

In [2]:
tables = read_pdf("Business Manager_Auftragsliste Jahr 2 a Jahr 3.pdf", pages = "all")

In [3]:
tables

[   Unnamed: 0 Unnamed: 1        Europa Unnamed: 2 Unnamed: 3 Unnamed: 4  \
 0         NaN    Liefer-           NaN      Stck-     Zahl.-        NaN
 1         Nr.        NaN  Stck. Umsatz        NaN        NaN        Nr.
 2         NaN     termin           NaN      Preis       ziel        NaN
 3           1         1.          5 37        7,4          2         18
 4           2         1.          4 27       6,75          1        NaN
 5           3        NaN          3 21        7,0          1        NaN
 6           4         2.          5 35        7,0          2        NaN
 7           5         2.          4 30        7,5          1        NaN
 8           6        NaN          3 22       7,33          1        NaN
 9           7         3.          6 41       6,83          1         19
 10          8         3.          4 27       6,75          1        NaN
 11          9        NaN          3 21        7,0          1        NaN
 12         10         4.          7 44        6,3          2         20
 13         11         4.          4 26        6,5          1         21
 14         12         4.          3 21        7,0          1        NaN
 15        NaN        NaN           NaN        NaN        NaN        NaN
 16         13         4.          2 21       10,5          2         22
 17         14         4.          2 19        9,5          1         23
 18         15         4.          2 20       10,0          1         24
 19        NaN        NaN           NaN        NaN        NaN         25
 20        NaN        NaN           NaN        NaN        NaN        NaN
 21         16         4.          2 23       11,5          1        NaN
 22         17         4.          1 12       12,0          1        NaN

    Unnamed: 5   Nordamerika Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
 0     Liefer-           NaN     Stck.-     Zahl.-        NaN    Liefer-
 1         NaN  Stck. Umsatz        NaN        NaN        Nr.        NaN
 2      termin           NaN      Preis       ziel        NaN     termin
 3          1.          4 29       7,25          2        NaN        NaN
 4         NaN           NaN        NaN        NaN        NaN        NaN
 5         NaN           NaN        NaN        NaN        NaN        NaN
 6         NaN           NaN        NaN        NaN        NaN        NaN
 7         NaN           NaN        NaN        NaN        NaN        NaN
 8         NaN           NaN        NaN        NaN        NaN        NaN
 9          3.          4 29       7,25          1        NaN        NaN
 10        NaN           NaN        NaN        NaN        NaN        NaN
 11        NaN           NaN        NaN        NaN        NaN        NaN
 12        NaN          2 15        7,5          1        NaN        NaN
 13         4.          4 29       7,25          2        NaN        NaN
 14        NaN           NaN        NaN        NaN        NaN        NaN
 15        NaN           NaN        NaN        NaN        NaN        NaN
 16         4.          2 21       10,5          1         26         4.
 17         4.          2 22       11,0          2        NaN        NaN
 18         4.          2 22       11,0          1        NaN        NaN
 19         4.          2 20       10,0          1        NaN        NaN
 20        NaN           NaN        NaN        NaN        NaN        NaN
 21        NaN           NaN        NaN        NaN         27         4.
 22        NaN           NaN        NaN        NaN         28         4.

            Asien Unnamed: 10 Unnamed: 11
 0            NaN      Stck.-      Zahl.-
 1   Stck. Umsatz         NaN         NaN
 2            NaN       Preis        ziel
 3            NaN         NaN         NaN
 4            NaN         NaN         NaN
 5            NaN         NaN         NaN
 6            NaN         NaN         NaN
 7            NaN         NaN         NaN
 8            NaN         NaN         NaN
 9            NaN         NaN         NaN
 10           NaN         NaN         NaN
 11           NaN         NaN         NaN
 12           NaN         NaN         NaN
 13           NaN         NaN         NaN
 14           NaN         NaN         NaN
 15           NaN         NaN         NaN
 16          2 24        12,0           1
 17           NaN         NaN         NaN
 18           NaN         NaN         NaN
 19           NaN         NaN         NaN
 20           NaN         NaN         NaN
 21          1 11        11,0           1
 22          1 12        12,0           1  ,
    Unnamed: 0 Unnamed: 1        Europa Unnamed: 2 Unnamed: 3 Unnamed: 4  \
 0         NaN    Liefer-           NaN      Stck-     Zahl.-        NaN
 1         Nr.        NaN  Stck. Umsatz        NaN        NaN        Nr.
 2         NaN     termin           NaN      Preis       ziel        NaN
 3          29         1.          3 19        6,3          2         46
 4          30         1.          4 26        6,5          1        NaN
 5          31        NaN          5 30        6,0          1        NaN
 6          32         2.          3 20       6,66          2         47
 7          33         2.          4 24        6,0          1        NaN
 8          34         3.          3 19        6,3          1         48
 9          35         3.          4 25       6,25          1        NaN
 10         36        NaN          3 19        6,3          1        NaN
 11         37         4.          4 25       6,25          1         49
 12         38         4.          4 24        6,0          1        NaN
 13        NaN        NaN           NaN        NaN        NaN        NaN
 14         39        NaN          4 36        9,0          2         50
 15         40         2.          4 35       8,75          1         51
 16         41         3.          4 37       9,25          1         52
 17         42         4.          4 35       8,75          1         53
 18        NaN        NaN           NaN        NaN        NaN        NaN
 19        NaN        NaN           NaN        NaN        NaN         54
 20         43         2.          2 22       11,0          1        NaN
 21         44         3.          2 22       11,0          1         55
 22         45         4.          2 22       11,0          1         56
 23        NaN        NaN           NaN        NaN        NaN         57

    Unnamed: 5   Nordamerika Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
 0     Liefer-           NaN     Stck.-     Zahl.-        NaN    Liefer-
 1         NaN  Stck. Umsatz        NaN        NaN        Nr.        NaN
 2      termin           NaN      Preis       ziel        NaN     termin
 3          1.          4 28        7,0          2        NaN        NaN
 4         NaN           NaN        NaN        NaN        NaN        NaN
 5         NaN           NaN        NaN        NaN        NaN        NaN
 6          2.          4 28        7,0          2        NaN        NaN
 7         NaN           NaN        NaN        NaN        NaN        NaN
 8          3.          2 14        7,0          1        NaN        NaN
 9         NaN           NaN        NaN        NaN        NaN        NaN
 10        NaN           NaN        NaN        NaN        NaN        NaN
 11         4.          2 14        7,0          1        NaN        NaN
 12        NaN           NaN        NaN        NaN        NaN        NaN
 13        NaN           NaN        NaN        NaN        NaN        NaN
 14        NaN          4 36        9,0          2         58         1.
 15         2.          3 28       9,33          1        NaN        NaN
 16         3.          4 40       10,0          1         59         3.
 17         4.          3 28       9,33          1         60         4.
 18        NaN           NaN        NaN        NaN        NaN        NaN
 19         1.          2 22       11,0          1        NaN        NaN
 20        NaN           NaN        NaN        NaN        NaN        NaN
 21         3.          2 22       11,0          1         61        NaN
 22        NaN          2 23       11,5          1         62         4.
 23         4.          2 22         11          1        NaN        NaN

            Asien Unnamed: 10 Unnamed: 11
 0            NaN      Stck.-      Zahl.-
 1   Stck. Umsatz         NaN         NaN
 2            NaN       Preis        ziel
 3            NaN         NaN         NaN
 4            NaN         NaN         NaN
 5            NaN         NaN         NaN
 6            NaN         NaN         NaN
 7            NaN         NaN         NaN
 8            NaN         NaN         NaN
 9            NaN         NaN         NaN
 10           NaN         NaN         NaN
 11           NaN         NaN         NaN
 12           NaN         NaN         NaN
 13           NaN         NaN         NaN
 14          2 21        10,5           2
 15           NaN         NaN         NaN
 16          3 32       10,66           1
 17          2 21        10,5           2
 18           NaN         NaN         NaN
 19           NaN         NaN         NaN
 20           NaN         NaN         NaN
 21          2 24        12,0           1
 22          3 36        12,0           1
 23           NaN         NaN         NaN  ]

In [4]:
tables[0]

,Unnamed: 0,Unnamed: 1,Europa,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Nordamerika,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Asien,Unnamed: 10,Unnamed: 11
0,NaN,Liefer-,NaN,Stck-,Zahl.-,NaN,Liefer-,NaN,Stck.-,Zahl.-,NaN,Liefer-,NaN,Stck.-,Zahl.-
1,Nr.,NaN,Stck. Umsatz,NaN,NaN,Nr.,NaN,Stck. Umsatz,NaN,NaN,Nr.,NaN,Stck. Umsatz,NaN,NaN
2,NaN,termin,NaN,Preis,ziel,NaN,termin,NaN,Preis,ziel,NaN,termin,NaN,Preis,ziel
3,1,1.,5 37,"7,4",2,18,1.,4 29,"7,25",2,NaN,NaN,NaN,NaN,NaN
4,2,1.,4 27,"6,75",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3,NaN,3 21,"7,0",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4,2.,5 35,"7,0",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5,2.,4 30,"7,5",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6,NaN,3 22,"7,33",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,7,3.,6 41,"6,83",1,19,3.,4 29,"7,25",1,NaN,NaN,NaN,NaN,NaN
10,8,3.,4 27,"6,75",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,9,NaN,3 21,"7,0",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10,4.,7 44,"6,3",2,20,NaN,2 15,"7,5",1,NaN,NaN,NaN,NaN,NaN
13,11,4.,4 26,"6,5",1,21,4.,4 29,"7,25",2,NaN,NaN,NaN,NaN,NaN
14,12,4.,3 21,"7,0",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,13,4.,2 21,"10,5",2,22,4.,2 21,"10,5",1,26,4.,2 24,"12,0",1
17,14,4.,2 19,"9,5",1,23,4.,2 22,"11,0",2,NaN,NaN,NaN,NaN,NaN
18,15,4.,2 20,"10,0",1,24,4.,2 22,"11,0",1,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,25,4.,2 20,"10,0",1,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,16,4.,2 23,"11,5",1,NaN,NaN,NaN,NaN,NaN,27,4.,1 11,"11,0",1
22,17,4.,1 12,"12,0",1,NaN,NaN,NaN,NaN,NaN,28,4.,1 12,"12,0",1

In [5]:
# df = tables[0].iloc[3:23,0:5]
# cols = ["Nr.","Liefertermin","Umsatz","Stückpreis","Zahlziel"]
# df.set_axis(cols,axis = 1,inplace=True)
# df.drop(df[df["Nr."].isnull()].index,inplace=True)


# df.loc[df["Liefertermin"].isnull(),'Liefertermin'] = "0"

In [6]:
# df = tables[0].iloc[3:23,0:5]
# cols = ["Nr.","Liefertermin","Umsatz","Stückpreis","Zahlziel"]
# df.set_axis(cols,axis = 1,inplace=True)
# df.drop(df[df["Nr."].isnull()].index,inplace=True)


# df["Stück"] = df.Umsatz.str.split(" ")
# df["Umsatz"] = df["Stück"].str[1].astype(int)
# df["Stück"] = df["Stück"].str[0].astype(int)
# df["Zahlziel"] = df["Zahlziel"].astype(int)
# df["Nr."] = df["Nr."].astype(int)
# df.loc[df["Liefertermin"].isnull(),'Liefertermin'] = "0"
# df["Liefertermin"] = df["Liefertermin"].str.replace('[\.\.]','').astype(int)
# df["Stückpreis"] = df["Stückpreis"].str.replace('[\,\.]','.').astype(float)

# df

In [7]:
def dfedit (df_temp):
    """
    the functions returns a dataframe
    """
    cols = ["Nr.","Liefertermin","Umsatz","Stückpreis","Zahlziel"]
    df_temp.set_axis(cols,axis = 1,inplace=True)
    df_temp.drop(df_temp[df_temp["Nr."].isnull()].index,inplace=True)

    df_temp["Stück"] = df_temp.Umsatz.str.split(" ")
    df_temp["Umsatz"] = df_temp["Stück"].str[1].astype(int)
    df_temp["Stück"] = df_temp["Stück"].str[0].astype(int)
    df_temp["Zahlziel"] = df_temp["Zahlziel"].astype(int)
    df_temp["Nr."] = df_temp["Nr."].astype(int)
    df_temp.loc[df_temp["Liefertermin"].isnull(),'Liefertermin'] = "0"
    df_temp["Liefertermin"] = df_temp["Liefertermin"].str.replace('[\.\.]','').astype(int)
    df_temp["Stückpreis"] = df_temp["Stückpreis"].str.replace('[\,\.]','.').astype(float)

    return df_temp

In [8]:
df = tables[0].iloc[3:,0:5]
df = dfedit(tables[0].iloc[3:,0:5])
# cols = ["Nr.","Liefertermin","Umsatz","Stückpreis","Zahlziel"]
# df.set_axis(cols,axis = 1,inplace=True)
# df.drop(df[df["Nr."].isnull()].index,inplace=True)

# df["Stück"] = df.Umsatz.str.split(" ")
# df["Umsatz"] = df["Stück"].str[1].astype(int)
# df["Stück"] = df["Stück"].str[0].astype(int)
# df["Zahlziel"] = df["Zahlziel"].astype(int)
# df["Nr."] = df["Nr."].astype(int)
# df.loc[df["Liefertermin"].isnull(),'Liefertermin'] = "0"
# df["Liefertermin"] = df["Liefertermin"].str.replace('[\.\.]','').astype(int)
# df["Stückpreis"] = df["Stückpreis"].str.replace('[\,\.]','.').astype(float)

df["Art"] = "Basic"
df["Nr."] = df["Nr."].astype(int)
df.loc[(df["Nr."] >= 13) & (df["Nr."] <= 15),'Art'] = "Comfort"
df.loc[df["Nr."] >= 16,'Art'] = "Hyper"

df["Markt"] = "1 - Europa"
df_Europa = df
del(df)
df_Europa

C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:6: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df_temp.set_axis(cols,axis = 1,inplace=True)
C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temp["Liefertermin"] = df_temp["Liefertermin"].str.replace('[\.\.]','').astype(int)
C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temp["Stückpreis"] = df_temp["Stückpreis"].str.replace('[\,\.]','.').astype(float)

,Nr.,Liefertermin,Umsatz,Stückpreis,Zahlziel,Stück,Art,Markt
3,1,1,37,7.40,2,5,Basic,1 - Europa
4,2,1,27,6.75,1,4,Basic,1 - Europa
5,3,0,21,7.00,1,3,Basic,1 - Europa
6,4,2,35,7.00,2,5,Basic,1 - Europa
7,5,2,30,7.50,1,4,Basic,1 - Europa
8,6,0,22,7.33,1,3,Basic,1 - Europa
9,7,3,41,6.83,1,6,Basic,1 - Europa
10,8,3,27,6.75,1,4,Basic,1 - Europa
11,9,0,21,7.00,1,3,Basic,1 - Europa
12,10,4,44,6.30,2,7,Basic,1 - Europa
13,11,4,26,6.50,1,4,Basic,1 - Europa
14,12,4,21,7.00,1,3,Basic,1 - Europa
16,13,4,21,10.50,2,2,Comfort,1 - Europa
17,14,4,19,9.50,1,2,Comfort,1 - Europa
18,15,4,20,10.00,1,2,Comfort,1 - Europa
21,16,4,23,11.50,1,2,Hyper,1 - Europa
22,17,4,12,12.00,1,1,Hyper,1 - Europa

In [9]:
df = dfedit(tables[0].iloc[3:23,5:10])

# cols = ["Nr.","Liefertermin","Umsatz","Stückpreis","Zahlziel"]
# df.set_axis(cols,axis = 1,inplace=True)
# df.drop(df[df["Nr."].isnull()].index,inplace=True)

# df["Stück"] = df.Umsatz.str.split(" ")
# df["Umsatz"] = df["Stück"].str[1].astype(int)
# df["Stück"] = df["Stück"].str[0].astype(int)
# df["Zahlziel"] = df["Zahlziel"].astype(int)
# df["Nr."] = df["Nr."].astype(int)
# df.loc[df["Liefertermin"].isnull(),'Liefertermin'] = "0"
# df["Liefertermin"] = df["Liefertermin"].str.replace('[\.\.]','').astype(int)
# df["Stückpreis"] = df["Stückpreis"].str.replace('[\,\.]','.').astype(float)


df["Art"] = "Basic"
df["Nr."] = df["Nr."].astype(int)
df.loc[(df["Nr."] >= 22),'Art'] = "Comfort"



df["Markt"] = "2 - Nordamerkia"

df_Nordamerika = df
del(df)
df_Nordamerika

C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:6: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df_temp.set_axis(cols,axis = 1,inplace=True)
C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temp["Liefertermin"] = df_temp["Liefertermin"].str.replace('[\.\.]','').astype(int)
C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temp["Stückpreis"] = df_temp["Stückpreis"].str.replace('[\,\.]','.').astype(float)

,Nr.,Liefertermin,Umsatz,Stückpreis,Zahlziel,Stück,Art,Markt
3,18,1,29,7.25,2,4,Basic,2 - Nordamerkia
9,19,3,29,7.25,1,4,Basic,2 - Nordamerkia
12,20,0,15,7.50,1,2,Basic,2 - Nordamerkia
13,21,4,29,7.25,2,4,Basic,2 - Nordamerkia
16,22,4,21,10.50,1,2,Comfort,2 - Nordamerkia
17,23,4,22,11.00,2,2,Comfort,2 - Nordamerkia
18,24,4,22,11.00,1,2,Comfort,2 - Nordamerkia
19,25,4,20,10.00,1,2,Comfort,2 - Nordamerkia

In [10]:
df = dfedit(tables[0].iloc[3:23,10:15])

# cols = ["Nr.","Liefertermin","Umsatz","Stückpreis","Zahlziel"]
# df.set_axis(cols,axis = 1,inplace=True)
# df.drop(df[df["Nr."].isnull()].index,inplace=True)

# df["Stück"] = df.Umsatz.str.split(" ")
# df["Umsatz"] = df["Stück"].str[1].astype(int)
# df["Stück"] = df["Stück"].str[0].astype(int)
# df["Zahlziel"] = df["Zahlziel"].astype(int)
# df["Nr."] = df["Nr."].astype(int)
# df.loc[df["Liefertermin"].isnull(),'Liefertermin'] = "0"
# df["Liefertermin"] = df["Liefertermin"].str.replace('[\.\.]','').astype(int)
# df["Stückpreis"] = df["Stückpreis"].str.replace('[\,\.]','.').astype(float)

df["Art"] = "Comfort"
df["Nr."] = df["Nr."].astype(int)
df.loc[(df["Nr."] >= 27),'Art'] = "Hyper"

df["Markt"] = "3 - Asien"

df_Asien = df
del(df)
df_Asien

C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:6: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df_temp.set_axis(cols,axis = 1,inplace=True)
C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temp["Liefertermin"] = df_temp["Liefertermin"].str.replace('[\.\.]','').astype(int)
C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temp["Stückpreis"] = df_temp["Stückpreis"].str.replace('[\,\.]','.').astype(float)

    Nr.  Liefertermin  Umsatz  Stückpreis  Zahlziel  Stück      Art      Markt
16   26             4      24        12.0         1      2  Comfort  3 - Asien
21   27             4      11        11.0         1      1    Hyper  3 - Asien
22   28             4      12        12.0         1      1    Hyper  3 - Asien

In [11]:
year_2 = pd.concat([df_Europa,df_Nordamerika,df_Asien])
year_2

,Nr.,Liefertermin,Umsatz,Stückpreis,Zahlziel,Stück,Art,Markt
3,1,1,37,7.40,2,5,Basic,1 - Europa
4,2,1,27,6.75,1,4,Basic,1 - Europa
5,3,0,21,7.00,1,3,Basic,1 - Europa
6,4,2,35,7.00,2,5,Basic,1 - Europa
7,5,2,30,7.50,1,4,Basic,1 - Europa
8,6,0,22,7.33,1,3,Basic,1 - Europa
9,7,3,41,6.83,1,6,Basic,1 - Europa
10,8,3,27,6.75,1,4,Basic,1 - Europa
11,9,0,21,7.00,1,3,Basic,1 - Europa
12,10,4,44,6.30,2,7,Basic,1 - Europa
13,11,4,26,6.50,1,4,Basic,1 - Europa
14,12,4,21,7.00,1,3,Basic,1 - Europa
16,13,4,21,10.50,2,2,Comfort,1 - Europa
17,14,4,19,9.50,1,2,Comfort,1 - Europa
18,15,4,20,10.00,1,2,Comfort,1 - Europa
21,16,4,23,11.50,1,2,Hyper,1 - Europa
22,17,4,12,12.00,1,1,Hyper,1 - Europa
3,18,1,29,7.25,2,4,Basic,2 - Nordamerkia
9,19,3,29,7.25,1,4,Basic,2 - Nordamerkia
12,20,0,15,7.50,1,2,Basic,2 - Nordamerkia
13,21,4,29,7.25,2,4,Basic,2 - Nordamerkia
16,22,4,21,10.50,1,2,Comfort,2 - Nordamerkia
17,23,4,22,11.00,2,2,Comfort,2 - Nordamerkia
18,24,4,22,11.00,1,2,Comfort,2 - Nordamerkia
19,25,4,20,10.00,1,2,Comfort,2 - Nordamerkia
16,26,4,24,12.00,1,2,Comfort,3 - Asien
21,27,4,11,11.00,1,1,Hyper,3 - Asien
22,28,4,12,12.00,1,1,Hyper,3 - Asien

In [12]:
tables[1]

,Unnamed: 0,Unnamed: 1,Europa,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Nordamerika,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Asien,Unnamed: 10,Unnamed: 11
0,NaN,Liefer-,NaN,Stck-,Zahl.-,NaN,Liefer-,NaN,Stck.-,Zahl.-,NaN,Liefer-,NaN,Stck.-,Zahl.-
1,Nr.,NaN,Stck. Umsatz,NaN,NaN,Nr.,NaN,Stck. Umsatz,NaN,NaN,Nr.,NaN,Stck. Umsatz,NaN,NaN
2,NaN,termin,NaN,Preis,ziel,NaN,termin,NaN,Preis,ziel,NaN,termin,NaN,Preis,ziel
3,29,1.,3 19,"6,3",2,46,1.,4 28,"7,0",2,NaN,NaN,NaN,NaN,NaN
4,30,1.,4 26,"6,5",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,31,NaN,5 30,"6,0",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,32,2.,3 20,"6,66",2,47,2.,4 28,"7,0",2,NaN,NaN,NaN,NaN,NaN
7,33,2.,4 24,"6,0",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,34,3.,3 19,"6,3",1,48,3.,2 14,"7,0",1,NaN,NaN,NaN,NaN,NaN
9,35,3.,4 25,"6,25",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,36,NaN,3 19,"6,3",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,37,4.,4 25,"6,25",1,49,4.,2 14,"7,0",1,NaN,NaN,NaN,NaN,NaN
12,38,4.,4 24,"6,0",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,39,NaN,4 36,"9,0",2,50,NaN,4 36,"9,0",2,58,1.,2 21,"10,5",2
15,40,2.,4 35,"8,75",1,51,2.,3 28,"9,33",1,NaN,NaN,NaN,NaN,NaN
16,41,3.,4 37,"9,25",1,52,3.,4 40,"10,0",1,59,3.,3 32,"10,66",1
17,42,4.,4 35,"8,75",1,53,4.,3 28,"9,33",1,60,4.,2 21,"10,5",2
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,54,1.,2 22,"11,0",1,NaN,NaN,NaN,NaN,NaN
20,43,2.,2 22,"11,0",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,44,3.,2 22,"11,0",1,55,3.,2 22,"11,0",1,61,NaN,2 24,"12,0",1
22,45,4.,2 22,"11,0",1,56,NaN,2 23,"11,5",1,62,4.,3 36,"12,0",1
23,NaN,NaN,NaN,NaN,NaN,57,4.,2 22,11,1,NaN,NaN,NaN,NaN,NaN

In [13]:
df = tables[1].iloc[3:24,0:5]
cols = ["Nr.","Liefertermin","Umsatz","Stückpreis","Zahlziel"]
df.set_axis(cols,axis = 1,inplace=True)
df.drop(df[df["Nr."].isnull()].index,inplace=True)

df["Stück"] = df.Umsatz.str.split(" ")
df["Umsatz"] = df["Stück"].str[1].astype(int)
df["Stück"] = df["Stück"].str[0].astype(int)
df["Zahlziel"] = df["Zahlziel"].astype(int)
df["Nr."] = df["Nr."].astype(int)
df.loc[df["Liefertermin"].isnull(),'Liefertermin'] = "0"
df["Liefertermin"] = df["Liefertermin"].str.replace('[\.\.]','').astype(int)
df["Stückpreis"] = df["Stückpreis"].str.replace('[\,\.]','.').astype(float)

df["Art"] = "Basic"
df["Nr."] = df["Nr."].astype(int)
df.loc[(df["Nr."] >= 39) & (df["Nr."] <= 42),'Art'] = "Comfort"
df.loc[df["Nr."] >= 43,'Art'] = "Hyper"

df["Markt"] = "Europa"
df_Europa = df
del(df)
df_Europa

C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\1331822006.py:3: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df.set_axis(cols,axis = 1,inplace=True)
C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\1331822006.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Liefertermin"] = df["Liefertermin"].str.replace('[\.\.]','').astype(int)
C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\1331822006.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Stückpreis"] = df["Stückpreis"].str.replace('[\,\.]','.').astype(float)

    Nr.  Liefertermin  Umsatz  Stückpreis  Zahlziel  Stück      Art   Markt
3    29             1      19        6.30         2      3    Basic  Europa
4    30             1      26        6.50         1      4    Basic  Europa
5    31             0      30        6.00         1      5    Basic  Europa
6    32             2      20        6.66         2      3    Basic  Europa
7    33             2      24        6.00         1      4    Basic  Europa
8    34             3      19        6.30         1      3    Basic  Europa
9    35             3      25        6.25         1      4    Basic  Europa
10   36             0      19        6.30         1      3    Basic  Europa
11   37             4      25        6.25         1      4    Basic  Europa
12   38             4      24        6.00         1      4    Basic  Europa
14   39             0      36        9.00         2      4  Comfort  Europa
15   40             2      35        8.75         1      4  Comfort  Europa
16   41             3      37        9.25         1      4  Comfort  Europa
17   42             4      35        8.75         1      4  Comfort  Europa
20   43             2      22       11.00         1      2    Hyper  Europa
21   44             3      22       11.00         1      2    Hyper  Europa
22   45             4      22       11.00         1      2    Hyper  Europa

In [14]:
df = dfedit(tables[1].iloc[3:24,0:5])
# cols = ["Nr.","Liefertermin","Umsatz","Stückpreis","Zahlziel"]
# df.set_axis(cols,axis = 1,inplace=True)
# df.drop(df[df["Nr."].isnull()].index,inplace=True)

# df["Stück"] = df.Umsatz.str.split(" ")
# df["Umsatz"] = df["Stück"].str[1].astype(int)
# df["Stück"] = df["Stück"].str[0].astype(int)
# df["Zahlziel"] = df["Zahlziel"].astype(int)
# df["Nr."] = df["Nr."].astype(int)
# df.loc[df["Liefertermin"].isnull(),'Liefertermin'] = "0"
# df["Liefertermin"] = df["Liefertermin"].str.replace('[\.\.]','').astype(int)
# df["Stückpreis"] = df["Stückpreis"].str.replace('[\,\.]','.').astype(float)

df["Art"] = "Basic"
df["Nr."] = df["Nr."].astype(int)
df.loc[(df["Nr."] >= 50) & (df["Nr."] <= 53),'Art'] = "Comfort"
df.loc[df["Nr."] >= 54,'Art'] = "Hyper"

df["Markt"] = "Nordamerika"
df_Nordamerika = df
del(df)
df_Nordamerika

C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:6: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df_temp.set_axis(cols,axis = 1,inplace=True)
C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temp["Liefertermin"] = df_temp["Liefertermin"].str.replace('[\.\.]','').astype(int)
C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temp["Stückpreis"] = df_temp["Stückpreis"].str.replace('[\,\.]','.').astype(float)

    Nr.  Liefertermin  Umsatz  Stückpreis  Zahlziel  Stück    Art        Markt
3    29             1      19        6.30         2      3  Basic  Nordamerika
4    30             1      26        6.50         1      4  Basic  Nordamerika
5    31             0      30        6.00         1      5  Basic  Nordamerika
6    32             2      20        6.66         2      3  Basic  Nordamerika
7    33             2      24        6.00         1      4  Basic  Nordamerika
8    34             3      19        6.30         1      3  Basic  Nordamerika
9    35             3      25        6.25         1      4  Basic  Nordamerika
10   36             0      19        6.30         1      3  Basic  Nordamerika
11   37             4      25        6.25         1      4  Basic  Nordamerika
12   38             4      24        6.00         1      4  Basic  Nordamerika
14   39             0      36        9.00         2      4  Basic  Nordamerika
15   40             2      35        8.75         1      4  Basic  Nordamerika
16   41             3      37        9.25         1      4  Basic  Nordamerika
17   42             4      35        8.75         1      4  Basic  Nordamerika
20   43             2      22       11.00         1      2  Basic  Nordamerika
21   44             3      22       11.00         1      2  Basic  Nordamerika
22   45             4      22       11.00         1      2  Basic  Nordamerika

In [15]:
df = dfedit(tables[1].iloc[3:,10:15])

# cols = ["Nr.","Liefertermin","Umsatz","Stückpreis","Zahlziel"]
# df.set_axis(cols,axis = 1,inplace=True)
# df.drop(df[df["Nr."].isnull()].index,inplace=True)


# df["Stück"] = df.Umsatz.str.split(" ")
# df["Umsatz"] = df["Stück"].str[1].astype(int)
# df["Stück"] = df["Stück"].str[0].astype(int)
# df["Zahlziel"] = df["Zahlziel"].astype(int)
# df["Nr."] = df["Nr."].astype(int)
# df.loc[df["Liefertermin"].isnull(),'Liefertermin'] = "0"
# df["Liefertermin"] = df["Liefertermin"].str.replace('[\.\.]','').astype(int)
# df["Stückpreis"] = df["Stückpreis"].str.replace('[\,\.]','.').astype(float)

df["Art"] = "Comfort"
df["Nr."] = df["Nr."].astype(int)
df.loc[(df["Nr."] >= 61),'Art'] = "Hyper"

df["Markt"] = "Asien"

df_Asien = df
del(df)
df_Asien

C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:6: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df_temp.set_axis(cols,axis = 1,inplace=True)
C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temp["Liefertermin"] = df_temp["Liefertermin"].str.replace('[\.\.]','').astype(int)
C:\Users\rsupe\AppData\Local\Temp\ipykernel_33324\2805688288.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temp["Stückpreis"] = df_temp["Stückpreis"].str.replace('[\,\.]','.').astype(float)

    Nr.  Liefertermin  Umsatz  Stückpreis  Zahlziel  Stück      Art  Markt
14   58             1      21       10.50         2      2  Comfort  Asien
16   59             3      32       10.66         1      3  Comfort  Asien
17   60             4      21       10.50         2      2  Comfort  Asien
21   61             0      24       12.00         1      2    Hyper  Asien
22   62             4      36       12.00         1      3    Hyper  Asien

In [16]:
year_3 = pd.concat([df_Europa,df_Nordamerika,df_Asien])
year_3

,Nr.,Liefertermin,Umsatz,Stückpreis,Zahlziel,Stück,Art,Markt
3,29,1,19,6.30,2,3,Basic,Europa
4,30,1,26,6.50,1,4,Basic,Europa
5,31,0,30,6.00,1,5,Basic,Europa
6,32,2,20,6.66,2,3,Basic,Europa
7,33,2,24,6.00,1,4,Basic,Europa
8,34,3,19,6.30,1,3,Basic,Europa
9,35,3,25,6.25,1,4,Basic,Europa
10,36,0,19,6.30,1,3,Basic,Europa
11,37,4,25,6.25,1,4,Basic,Europa
12,38,4,24,6.00,1,4,Basic,Europa
14,39,0,36,9.00,2,4,Comfort,Europa
15,40,2,35,8.75,1,4,Comfort,Europa
16,41,3,37,9.25,1,4,Comfort,Europa
17,42,4,35,8.75,1,4,Comfort,Europa
20,43,2,22,11.00,1,2,Hyper,Europa
21,44,3,22,11.00,1,2,Hyper,Europa
22,45,4,22,11.00,1,2,Hyper,Europa
3,29,1,19,6.30,2,3,Basic,Nordamerika
4,30,1,26,6.50,1,4,Basic,Nordamerika
5,31,0,30,6.00,1,5,Basic,Nordamerika
6,32,2,20,6.66,2,3,Basic,Nordamerika
7,33,2,24,6.00,1,4,Basic,Nordamerika
8,34,3,19,6.30,1,3,Basic,Nordamerika
9,35,3,25,6.25,1,4,Basic,Nordamerika
10,36,0,19,6.30,1,3,Basic,Nordamerika
11,37,4,25,6.25,1,4,Basic,Nordamerika
12,38,4,24,6.00,1,4,Basic,Nordamerika
14,39,0,36,9.00,2,4,Basic,Nordamerika
15,40,2,35,8.75,1,4,Basic,Nordamerika
16,41,3,37,9.25,1,4,Basic,Nordamerika
17,42,4,35,8.75,1,4,Basic,Nordamerika
20,43,2,22,11.00,1,2,Basic,Nordamerika
21,44,3,22,11.00,1,2,Basic,Nordamerika
22,45,4,22,11.00,1,2,Basic,Nordamerika
14,58,1,21,10.50,2,2,Comfort,Asien
16,59,3,32,10.66,1,3,Comfort,Asien
17,60,4,21,10.50,2,2,Comfort,Asien
21,61,0,24,12.00,1,2,Hyper,Asien
22,62,4,36,12.00,1,3,Hyper,Asien

In [17]:
year_2.set_index("Nr.",inplace = True)

In [18]:
year_2

,Liefertermin,Umsatz,Stückpreis,Zahlziel,Stück,Art,Markt
Nr.,,,,,,,
1,1,37,7.40,2,5,Basic,1 - Europa
2,1,27,6.75,1,4,Basic,1 - Europa
3,0,21,7.00,1,3,Basic,1 - Europa
4,2,35,7.00,2,5,Basic,1 - Europa
5,2,30,7.50,1,4,Basic,1 - Europa
6,0,22,7.33,1,3,Basic,1 - Europa
7,3,41,6.83,1,6,Basic,1 - Europa
8,3,27,6.75,1,4,Basic,1 - Europa
9,0,21,7.00,1,3,Basic,1 - Europa
10,4,44,6.30,2,7,Basic,1 - Europa
11,4,26,6.50,1,4,Basic,1 - Europa
12,4,21,7.00,1,3,Basic,1 - Europa
13,4,21,10.50,2,2,Comfort,1 - Europa
14,4,19,9.50,1,2,Comfort,1 - Europa
15,4,20,10.00,1,2,Comfort,1 - Europa
16,4,23,11.50,1,2,Hyper,1 - Europa
17,4,12,12.00,1,1,Hyper,1 - Europa
18,1,29,7.25,2,4,Basic,2 - Nordamerkia
19,3,29,7.25,1,4,Basic,2 - Nordamerkia
20,0,15,7.50,1,2,Basic,2 - Nordamerkia
21,4,29,7.25,2,4,Basic,2 - Nordamerkia
22,4,21,10.50,1,2,Comfort,2 - Nordamerkia
23,4,22,11.00,2,2,Comfort,2 - Nordamerkia
24,4,22,11.00,1,2,Comfort,2 - Nordamerkia
25,4,20,10.00,1,2,Comfort,2 - Nordamerkia
26,4,24,12.00,1,2,Comfort,3 - Asien
27,4,11,11.00,1,1,Hyper,3 - Asien
28,4,12,12.00,1,1,Hyper,3 - Asien

In [19]:
df_copy = year_2.copy()

In [20]:
year_2 = df_copy

In [21]:
umsatz = 0

In [33]:
# Other's turn
order = 6
year_2 = year_2.drop(order,axis=0).sort_values(["Markt","Stückpreis"], ascending=True)
year_2

,Liefertermin,Umsatz,Stückpreis,Zahlziel,Stück,Art,Markt
Nr.,,,,,,,
2,1,27,6.75,1,4,Basic,1 - Europa
3,0,21,7.00,1,3,Basic,1 - Europa
12,4,21,7.00,1,3,Basic,1 - Europa
14,4,19,9.50,1,2,Comfort,1 - Europa
15,4,20,10.00,1,2,Comfort,1 - Europa
13,4,21,10.50,2,2,Comfort,1 - Europa
16,4,23,11.50,1,2,Hyper,1 - Europa
17,4,12,12.00,1,1,Hyper,1 - Europa
18,1,29,7.25,2,4,Basic,2 - Nordamerkia
19,3,29,7.25,1,4,Basic,2 - Nordamerkia
21,4,29,7.25,2,4,Basic,2 - Nordamerkia
20,0,15,7.50,1,2,Basic,2 - Nordamerkia
25,4,20,10.00,1,2,Comfort,2 - Nordamerkia
22,4,21,10.50,1,2,Comfort,2 - Nordamerkia
23,4,22,11.00,2,2,Comfort,2 - Nordamerkia
24,4,22,11.00,1,2,Comfort,2 - Nordamerkia
27,4,11,11.00,1,1,Hyper,3 - Asien
26,4,24,12.00,1,2,Comfort,3 - Asien
28,4,12,12.00,1,1,Hyper,3 - Asien

In [23]:
year_2.loc[10,'Umsatz']

44

In [34]:
# Ourturn
order = 2
umsatz = umsatz + year_2.loc[order,'Umsatz']
print(umsatz)
year_2 = year_2.drop(order,axis=0).sort_values(["Markt","Stückpreis"], ascending=True)
year_2

97

,Liefertermin,Umsatz,Stückpreis,Zahlziel,Stück,Art,Markt
Nr.,,,,,,,
3,0,21,7.00,1,3,Basic,1 - Europa
12,4,21,7.00,1,3,Basic,1 - Europa
14,4,19,9.50,1,2,Comfort,1 - Europa
15,4,20,10.00,1,2,Comfort,1 - Europa
13,4,21,10.50,2,2,Comfort,1 - Europa
16,4,23,11.50,1,2,Hyper,1 - Europa
17,4,12,12.00,1,1,Hyper,1 - Europa
18,1,29,7.25,2,4,Basic,2 - Nordamerkia
19,3,29,7.25,1,4,Basic,2 - Nordamerkia
21,4,29,7.25,2,4,Basic,2 - Nordamerkia
20,0,15,7.50,1,2,Basic,2 - Nordamerkia
25,4,20,10.00,1,2,Comfort,2 - Nordamerkia
22,4,21,10.50,1,2,Comfort,2 - Nordamerkia
23,4,22,11.00,2,2,Comfort,2 - Nordamerkia
24,4,22,11.00,1,2,Comfort,2 - Nordamerkia
27,4,11,11.00,1,1,Hyper,3 - Asien
26,4,24,12.00,1,2,Comfort,3 - Asien
28,4,12,12.00,1,1,Hyper,3 - Asien